@using LogicBioSite.Models.CalculateCts
@using LogicBioSite.Models.ReadFile
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <link href="@Url.Content("~/Content/HoldOn.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/HoldOn.min.js")"></script>
    <link href="@Url.Content("~/Content/toastr.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/toastr.js")"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <link href="@Url.Content("~/Content/billboard.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/billboard.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>

    <script>
        jQuery(document).ready(function ($) {
            /* slideToggleDiv */
            op = function (obj) {
                $(obj).stop().slideToggle();
            };

            changeChevron = function (arg) {
                var span = $("#" + arg);
                if (span.hasClass("glyphicon glyphicon-chevron-right")) {
                    span.removeClass("glyphicon glyphicon-chevron-right");
                    span.addClass("glyphicon glyphicon-chevron-down");
                } else {
                    span.removeClass("glyphicon glyphicon-chevron-down");
                    span.addClass("glyphicon glyphicon-chevron-right");
                }
            };
        });

        /**
        * Wyświetl informację w formie js notification
        *
        * @@method ShowNotification
        * @@param {String} type
        * @@param {String} message
        */
        function ShowNotification(type, message) {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-bottom-left",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut",
            }

            switch (type) {
            case "success":
                window.toastr.success(message);
                break;
            case "warning":
                window.toastr.warning(message);
                break;
            case "error":
                window.toastr.error(message);
                break;
            default:
                window.toastr.info(message);
                break;
            }
        }
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("BioSite", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="navbar navbar-light" style="background-color: #e3f2fd; padding-top: 7.5px;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        New Data <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Read StepOne data", "ReadStepOneData", "ReadFile")</li>
                        <li>@Html.ActionLink("Read CSV data", "ReadCsvData", "ReadFile")</li>
                        <li>@Html.ActionLink("Current Data", "ReadAmplificationData", "ReadFile")</li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Calculations <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        @if ((IEnumerable<AmplificationData>) Session["userCurrentData"] != null)
                        {
                            <li>@Html.ActionLink("Calculate", "CalculateCtForm", "Calculate")</li>
                        }
                        @if ((CtViewModel)Session["CalculatedCtsΔCtsmeanCts"] != null)
                        {
                            <li>@Html.ActionLink("Current results", "CurrentResults", "Calculate")</li>
                        }
                        @if ((IEnumerable<AmplificationData>)Session["userCurrentData"] == null && (CtViewModel)Session["CalculatedCtsΔCtsmeanCts"] == null)
                        {
                            <li>@Html.ActionLink("No Data for calculation", "", null, new { @onclick = "javascript:return false;" })</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="footer navbar-fixed-bottom" style="background-color: #003868; color: white; font-size: 14px; padding-top: 20px;">
            <div class="container">
                <p>&copy; @DateTime.Now.Year - BioSite</p>
                <p>Łukasz Kapciak</p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
