@model PagedList.IPagedList<LogicBioSite.Models.ReadFile.AmplificationData>
@using PagedList.Mvc

@{
    ViewBag.Title = "ShowAmplificationData";
    var dataReadMsg = ViewData["dataReadMsg"] as string[];
}

@if (Model != null && Model.Any())
{
<div class="row">
    <div class="col-sm-10">
        <p style="font-size: 28px;">Amplification Data</p>
    </div>
    <div class="col-sm-2 form-group" align="right">
        <input type="text" pattern="\d{2}" maxlength='@Model.PageCount.ToString().Count()' id="pageNumberInput" value="@Model.PageNumber" class="form-control pageNumberInputStyle" onblur="goToPage(this.value);" />

        <p style="display:inline; font-size: 22px; margin-right: 5px;">/ @Model.PageCount</p>

        <p onclick='$("#pageNumberInput").val(parseInt($("#pageNumberInput").val()) + 1); goToPage($("#pageNumberInput").val());' class="changePageNumberArrows"><span class="glyphicon glyphicon-forward"></span></p>
    </div>
</div>
<table class="table table-striped" style="width: 100%;">
    <thead style="background-color: #428bca; color: white;">
        <tr>
            <th>
                @Html.DisplayName("Well")
            </th>
            <th>
                @Html.DisplayName("miRname")
            </th>
            <th>
                @Html.DisplayName("Cycle")
            </th>
            <th>
                @Html.DisplayName("Target")
            </th>
            <th>
                @Html.DisplayName("Rn")
            </th>
            <th>
                @Html.DisplayName("ΔRn")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="width: 15%;">
                    @Html.DisplayFor(modelItem => item.Well)
                </td>
                <td style="width: 20%;">
                    @Html.DisplayFor(modelItem => item.miRname)
                </td>
                <td style="width: 15%;">
                    @Html.DisplayFor(modelItem => item.Cycle)
                </td>
                <td style="width: 15%;">
                    @Html.DisplayFor(modelItem => item.TargetName)
                </td>
                <td style="width: 20%;">
                    @Html.DisplayFor(modelItem => item.Rn)
                </td>
                <td style="width: 15%;">
                    @Html.DisplayFor(modelItem => item.ΔRn)
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="row">
    <div class="col-sm-6">
        <label>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount</label>
    </div>
    <div class="col-sm-6" style="margin-top: -25px;" align="right">
        @(Html.PagedListPager(Model, page => Url.Action("ReadAmplificationData", "ReadFile", new { page }), new PagedListRenderOptions { MaximumPageNumbersToDisplay = 5, DisplayPageCountAndCurrentLocation = true }))
    </div>
</div>

<script>
    function goToPage(number) {
        if ('@Model.PageCount' < parseInt(number))
        {
            number = '@Model.PageCount';
        }
        var link = '@Url.Action("ReadAmplificationData", "ReadFile", new { page = "number" })';
        link = link.replace("number", number);
        window.location.href = link;
    }
</script>
}
else
{
    <div class="row">
        <h3 class="text-danger"><span class="glyphicon glyphicon-warning-sign"></span> Sorry, no data has been uploaded</h3>
    </div>
    
}
<script>
    @if (dataReadMsg != null)
    {
        <text>
            ShowNotification('@dataReadMsg[0]', '@dataReadMsg[1]');
        </text>
    }
</script>
<style>
    .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
        z-index: 0;
        }
     .pageNumberInputStyle {
         text-align: center;
         margin-top: -5px;
         width: 30%;
         display:inline;
     }

    .changePageNumberArrows {
        cursor:pointer;
        color: #dbdbdb;
        font-size: 18px;
        display:inline;
        margin-right: 5px;
    }

    .changePageNumberArrows:hover {
        color: #3276b1;
    }
</style>